<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>word-counter</title>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE, NO-STORE, must-revalidate">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT=0>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet/css" href="/public/static/stylesheet/bootstrap.min.css">
    <link rel="stylesheet/less" type="text/css" href="/public/static/css/style.css">
    <link rel="stylesheet/less" type="text/css" href="/public/static/bootstrap/bootstrap.less">
    <script src="/public/static/javascript/less.js"></script>
    <script src="/public/static/javascript/jquery.min.js"></script>
    <script src="/public/static/javascript/bootstrap.min.js"></script>
    <script src="/public/static/javascript/output.min.js"></script>
    <script src="https://code.angularjs.org/1.5.7/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script> -->
    <script src="/public/static/javascript/custom/app.js"></script>
    <script src = "/public/static/javascript/custom/home.js"></script>
    <style>
        .cell-wrap {
            padding-left: 2px;
            padding-right: 2px;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        .cell {
            border: 1px solid #ccc;
            padding: 5px 15px
        }
    </style>
</head>
<body ng-app="myApp">
    <div ng-controller="AppCtrl">
        <form>
            <input type="text" id="url" name="url"  ng-model="url">
            <button type="button" ng-click="getWordCount()">Submit</button>
        </form>

        <div>
            <label>URL to be captured:</label>
            <label ng-bind="url"></label>
        </div>

        <div class="content">
            <div class="row" style="margin-top: 50px;">
                <div class="col-md-12 row" >
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 cell-wrap" ng-repeat="key in keys">
                        <div class="cell">
                            <label ng-bind="key"></label> - {{`{{gridData[key]}}`}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>